        
        <footer>
            <ul>
                <li> <a href="https://mccaracatuba.wordpress.com" target="_blank"> <i class="fas fa-blog"></i> </a></li>   
                <li> <a href="https://www.facebook.com/groups/348746791822061/" target="_blank"> <i class="fab fa-facebook"></i></a></li>   
                
            </ul>
            <p>&copy; 2019, MCC da Diocese de Araçatuba </p>
        </footer>
    
    </body>
   
</html>