<%- include('header')%>

    <div class = "banner">
        <img class="logo" src="images/LOGO50ANOSMCC.png">
    </div>


    <section class="historia-diocese">

       <h3> O Movimento de Cursilhos de Cristandade da Diocese de Araçatuba </h3>
       <h4 class="bold"> Resenha Histórica </h4>
       
       <h1 class="bold"> I - O início - MCC da Diocese de Lins - Ano 1969 </h1>

       <p>
         Alguns irmãos e irmãs da região participam de cursilhos nas Dioceses de Sorocaba e Campinas. 
       </p>
       
       <p> 
         Nesse ano, Geová Oliver, cursilhista entusiasta, chega a Araçatuba e são dados os primeiros passos para o Movimento de Cursilhos na Diocese de Lins. Com ardor missionário, o senhor Jeová comunicou-se com outras dioceses e encaminhou alguns dos irmãos para que fizessem o cursilho. E foi assim que se formou um pequeno grupo de cursilhistas na cidade.    
       </p>    

       <p>     
         Em março de 1969, Dom Pedro Paulo Koop, bispo diocesano de Lins, aprovou o Movimento de Cursilhos de Cristandade na Diocese.
       </p>      

       <p>     
         Então, foi criado o primeiro secretariado diocesano do Movimento, tendo como primeiro assessor espiritual o Padre José Cláudio da Silva, pároco da Paróquia Santo Antônio de Araçatuba e, como primeiro secretário do MCC Diocesano, o irmão César Fenelon dos Santos.      
       </p>  

       <p>     
         Formado o secretariado, o marco inicial do Movimento foi a realização, no período de 16 a 19 de julho de 1969, do primeiro cursilho de homens. Esse cursilho, cuja equipe era formada por cursilhistas de São José do Rio Preto e de São Paulo, aconteceu no Colégio Nossa Senhora de Fátima em Guararapes.
       </p>  

       <p>     
         Lá, também foram realizados os três primeiros cursilhos de homens e o primeiro de mulheres, e em 1970 os cursilhos foram transferidos para o Colégio São José, em Valparaíso. O prédio desse colégio abriga atualmente a Prefeitura Municipal. Nesse colégio, foram realizados diversos cursilhos.
       </p>  

       <p>     
         Em 1973, inaugurou-se a Casa de São Paulo, onde os cursilhos acontecem até hoje.     
       </p>  

       <p>     
         Na Assembleia Diocesana do ano de 1994, o coordenador do GED – José Carlos Porto – conduziu os trabalhos de eleição da coordenação do GED de Lins, para o período de 1995 a 1997. Foi eleito Hermes Paulo Dênis, morador da cidade de Lins.     
       </p>  

       <p>     
         Devido à criação da Diocese de Araçatuba, o mapa da Diocese de Lins ficou constituído pelas cidades: Lins, Cafelândia, Júlio Mesquita, Guaimbê, Sabino, Pongaí, Guarantã, Pirajuí, Balbinos, Uru, Reginópolis, Presidente Alves, Getulina, Guaiçara, Promissão, Avanhandava, Barbosa, Penápolis, Alto Alegre, Luiziânia, Braúna, Glicério e Clementina. 
       </p>  
       
       <h1 class="bold"> II – A continuidade – MCC da Diocese de Araçatuba - Ano 1994 </h1>

       <p>     
         Em 23 de março de 1994, foi criada pelo papa João Paulo II, a Diocese de Araçatuba.  
       </p>  
       
       <p>     
         O mapa da Diocese ficou constituído pelas seguintes cidades: Araçatuba, Birigui, Coroados, Brejo Alegre, Bilac, Gabriel Monteiro, Piacatu, Santópolis do Aguapeí, Guararapes, Rubiácea, Bento de Abreu, Valparaíso, Lavínia, Mirandópolis, Guaraçaí, Murutinga do Sul, Andradina, Castilho, Nova Independência.     
       </p>     

       <p>     
         Em novembro de 1994, a primeira assembleia diocesana do movimento aprovou a criação do movimento de cursilhos da Diocese de Araçatuba, elegeu a primeira coordenação do GED, que iniciou suas atividades em janeiro de 1995.  
       </p>  
       
       <p>     
         Configura-se, então, a continuidade do MCC em Lins e Araçatuba, como dioceses autônomas, mas em espírito de “de mãos dadas na mesma estrada somos irmãos”. 
       </p>     
       
       <p>     
         O Regimento Interno do MCC da Diocese de Araçatuba foi aprovado pela assembleia e homologado pelo bispo diocesano Dom José Castanho de Almeida que também aprovou a indicação do Padre Sidney da Silva Mendonça para Assessor Eclesiástico no GED. Padre Sidney foi indicado pela Assembleia e fortemente apoiado pelo Padre Ariento Domenici, padre que residia no Colégio Salesiano de Araçatuba e fora Assessor Eclesiástico no movimento enquanto Diocese de Lins.  
       </p>  
       
       <p>     
         No Regimento Interno, além das finalidades e objetivos do MCC, define-se a organização do GED em quatro setores, em conformidade com as regiões pastorais da Diocese de Araçatuba. Os Setores são: Araçatuba, Birigui, Guaraçaí e Guararapes.          
       </p>     
       
       <p>     
         A partir da criação do MCC da Diocese de Araçatuba, o GED deu continuidade aos trabalhos do Movimento e intensificou visitas aos núcleos e cidades com o objetivo de instalar a Escola Vivencial nas localidades, pois com a criação da Diocese ela passou a existir somente em Araçatuba. Na caminhada então iniciada, foi surgindo em diversas localidades a Escola Vivencial: Birigui, Guaraçaí, Guararapes, Bilac, Gabriel Monteiro, Piacatu, Santópolis do Aguapeí, Valparaíso, Lavínia, Mirandópolis, Castilho, Murutinga do Sul, Nova Independência, Coroados. Os encontros são semanais e registrados no site: <a href="https://mccaracatuba.wordpress.com/" target="_blank">  https://mccaracatuba.wordpress.com/ </a> 
       </p>  
       
       <p>     
         Os primeiros cursilhos da Diocese de Araçatuba foram realizados nos seguintes períodos:
       </p>     
       <p>     
         1º  Cursilho para Homens, período de 19 a 22.04.1995, coordenado por Wagner Marcelino Pereira. Assessor Eclesiástico: Padre Sidney da Silva Mendonça. Sacerdote auxiliar: Padre Ariento Domenici.
       </p>  
       
       <p>     
         1º Cursilho para Mulheres, período de 07 a 10.06.1995, coordenado por Edmea Carvalho Affonso. Assessor Eclesiástico: Padre Sidney da Silva Mendonça. Sacerdotes auxiliares:             
       </p>     

       <p>     
         Auxiliaram os cursilhos que vieram a seguir os sacerdotes: Padre Ariento, Frei Clóvis Barbosa (Glicériio), Agnaldo Israel Ferreira, José Carlos Guabiraba, Fernando Stanischeski, Manoel Muller, Eder........ (Lins) Padre Edson Barbosa tem auxiliado nos cursilhos que são realizados atualmente. 
       </p>     

       <p>     
         Nos cursilhos para homens nº 14 e 17 tivemos a presença do Padre José Gilberto Beraldo, então Assessor Eclesiástico do Grupo Executivo Nacional, auxiliando nesses cursilhos. 
       </p>     
     
       <p>     
         Padres que fizeram a experiência do Cursilho: Paulo Lupifieri, Sebastião......, José Davi...... e Arnaldo Cavalhieri, hoje bispo de Itapeva. Padre Fernando Stanischeski fez o cursilho de jovens quando ainda era seminarista.    
       </p>     

       <h1>
          As Assembleias Diocesanas do MCC:
       </h1>        

       <p>     
         As assembleias diocesanas são realizadas anualmente. As eleições para coordenação do Grupo Executivo Diocesano do MCC ocorreram:
       </p>     

       <p>     
         1994 (1ª Assembleia) – eleitos para o exercício de 1995 a 1997: Joaquim Benício Peruzzo (coordenador) e Jair Severino Gon (Vice-coordenador).
       </p>     

       <p>     
         1997 (4ª Assembleia) – eleitos para o exercício de 1998 a 2000: Robério Bandeira Santos (coordenador) e Nelson Lemos (vice-coordenador).
       </p>     

       <p>     
         2000 (7ª Assembleia) – eleitos para o exercício 2001 a 2003: Vagner Marcelino Pereira (coordenador) e Iassuo Nishimura (vice-coordenador).
       </p>     

       <p>     
         2002 – Padre Agnaldo Israel Ferreira é indicado Assessor Espiritual do Movimento pelo bispo diocesano.     
       </p>     

       <p>     
         2003 (10ª Assembleia) – eleitos para o exercício de 2004 a 2006: Claudemira de Morais Porto (coordenadora) e Antônio Luiz de Lucas (vice-coordenador).
       </p>     

       <p>     
         Nessa gestão, foi implantado o Cursilho de Jovens, sendo o primeiro cursilho realizado no período de 15 a 18.07.2004,  coordenado por Elizier de Oliveira Colodetti  (Tié).
       </p>     

       <p>     
         2006 (13ª Assembleia) – eleitos para o exercício de 2007 a 2009: Joaquim Benício Peruzzo (coordenador) e Bermival Fátimo da Silva (vice-coordenador).      
       </p>     
       
       <p>     
         2009 (16ª Assembleia) – eleitos para o exercício de 2010 a 2012: Sílvia Helena de Araújo Sakamoto (coordenadora) e Bermival Fátimo da Silva (vice-coordenador).
       <p>             

       <p> 
         2012 (19ª Assembleia) – eleitos para o exercício de 2013 a 2015: Sílvia Helena de Araújo Sakamoto (coordenadora) e Bermival Fátimo da Silva (vice-coordenador).
       </p> 

       <p> 
         Nessa gestão foi implantado o cursilho de dois dias: O Cursilho de Homens nº 37, no período de 24 a 26 de abril de 2015, coordenado por Joaquim Benício Peruzzo e o Cursilho de Mulheres nº 38, no período de 29 a 31 de maio de 2015, coordenado por Patrícia Pataro Barbosa Tesin.
       </p>

       <p>
         2015 (22ª Assembleia) – eleitos para o exercício de 2016 a 2018: João Mauro Fidalgo (coordenador) e Joaquim Benício Peruzzo (vice-coordenador).
       </p>

       <p>
         Na Assembleia Diocesana de 2016, foi aprovado o Estatuto Civil da Associação do Movimento de Cursilhos de Cristandade da Diocese de Araçatuba – AMCCDA.
       </p>

       <p>
         2018 (25ª Assembleia) – eleitos para o exercício de 2019 a 2021: Sílvia Helena de Araújo Sakamoto (coordenadora) e Carlos Renato Barnabé (vice-coordenador). 
       </p>

       <p>
         Em consonância com as finalidades do MCC, sua essência e carisma, o GED realiza anualmente:
         <ul>    
            <li> a)	dois cursilhos para homens, dois para mulheres e um para jovens (misto); </li>
            <li> b)	a Assembleia Diocesana; </li>
            <li> c)	quatro Ultreias Diocesanas, sendo uma em cada Setor; </li>
            <li> d)	uma Manhã de Espiritualidade; </li>
            <li> e)	duas reuniões de análise e orientação para a Escola Vivencial (primeiro e segundo semestre); </li>
            <li> f)	Encontros de Responsáveis, de acordo com a necessidade que se apresenta; </li>
            <li> g)	Escola Itinerante, em conformidade com a demanda apontada pelo Setor Diocesano ou cidade/comunidade pertencente ao Setor.  </li>
         </ul>    

       </p>
       <p>
         Todos os eventos do MCC da Diocese de Araçatuba são registrados no blog : <a href="https://mccaracatuba.wordpress.com/" target="_blank">  https://mccaracatuba.wordpress.com/ </a> 
       </p>
       <p>
         Agradecemos ao Senhor por caminhada tão produtiva, pelo trabalho de muitos irmãos e irmãs, muitas vezes anonimamente, direcionado à evangelização.
       </p>

    </section>
    
    

<%- include('footer')%>